<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SensingDownloader.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="NewspaperReader.Core.Download.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SensingDownloader.Settings>
      <setting name="MinSegmentSize" serializeAs="String">
        <value>2000</value>
      </setting>
    </SensingDownloader.Settings>
    <NewspaperReader.Core.Download.Settings>
      <setting name="MinSegmentSize" serializeAs="String">
        <value>200000</value>
      </setting>
      <setting name="MinSegmentLeftToStartNewSegment" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="RetryDelay" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MaxRetries" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxSegments" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DownloadFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxJobs" serializeAs="String">
        <value>5</value>
      </setting>
    </NewspaperReader.Core.Download.Settings>
  </userSettings>
</configuration>